<form class="add-form" (ngSubmit)="onSubmit()" >
    <div class="form-control">
        <label for="text">Email</label>
        <input type="text" name="email" [(ngModel)]="email" id="email"  placeholder="Add Email">
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="password" id="password"  placeholder="Add Password">
    </div>
    <div class="form-control form-control-check">
        <label for="isAdmin">Set isAdmin</label>
        <input type="checkbox" name="isAdmin" [(ngModel)]="isAdmin" id="isAdmin">
    </div>
    <input type="submit" value="Save Task" class="btn btn-block">
</form>