<nav>
    <a routerLink="/" routerLinkActive="semi-active">Tasks</a>
    <a routerLink="login" *ngIf="!authService.loggedIn()" routerLinkActive="active">Login</a>
    <a routerLink="register" *ngIf="!authService.loggedIn()" routerLinkActive="active">Register</a>
    <a routerLink="admin" *ngIf="authService.isAdmin()" routerLinkActive="active">Admin</a>
    <a routerLink="profile" *ngIf="authService.loggedIn()" routerLinkActive="active">Profile</a>
    <a routerLink="login" *ngIf="authService.loggedIn()" (click)="authService.logout()" >Logout</a>
</nav>
