nav {
    margin-bottom: 30px;
}

a {
    margin: 5px;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 9px;
    
}

a.active {
    color: #fff;
    background-color: #999;
}

a.semi-active {
    color: #fff;
    background-color: #000;
}