div {
    background: #f4f4f4;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 9px;
  }
  
  div h1 {
    font-size: 14px;
    padding: 10px;
  }

  div h1 div {
    margin: 0px;
    width: 20%;
    float: right;
    border: none;
  }
  div h1 div a {
    margin-right: 20px;
  }

  
  
  