div {
    background: #f4f4f4;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 9px;
  }
  
  div h1 {
    font-size: 14px;
    padding: 10px;
  }

  div a {
    float: right;
    
  }
  
  